*{
    margin:0;
    padding:0;
}
.modify{
    float:left;
    list-style: none;
    margin-right: 20px;
}
.header{
    width: auto;
    height: 64px;;
    background-color:rgb(0,60,113);
}

.list li a {
    text-decoration: none;
    color:white;
    line-height: 60px;
}

li a:hover{
    color:orange;
}
.container-header{
    margin-left: 200px;
}
li a h2{
    
}
.right-header{
    margin-left:1000px;
}
.container-hidden{
    width:1170px;
    height:56px;
    margin-left:174.6px;
    padding-left: 15px;
}
.container-hidden li{
    list-style: none;
    float: left;
}
.container-hidden li a{
    text-decoration: none;
    color:#40a6f2;
    border-right:solid 2px aqua;
    padding-left:10px;  
    
}
.active span{
    color: #777;
    margin-left: 10px;
}
.body-section{
    width:1170px;
    height:100px;
    margin-left:174.6px;
}
.body-left{
    width:300px;
    float:left;
  
}
.img-rounded{
    width:70px;
    height:70px;
    border-radius:6px;
}
.media-body h4 a{
    text-decoration: none;
    margin-left: 10px;
}
.media-left{
    float:left;
}
.tourPanelHeading{
    margin-bottom: 20px;
}
.star1{
    margin-left:10px;
    margin-top:10px;
}
.star{
    margin-top:10px;
}
.body-right{
    width:870px;
    float:left;
    
}
.first-left{
    width:641.25px;
    float:left;
}
.star2{
    margin-top:10px;
}
.first-right{
    width:213.75px;
    float:left;   
    margin-bottom: 10px;

}
.button-first{
    background-color:#F79321;
    border-radius:5px;
    width:183.75px;
    height:40.4px;
    color:white;
    font-weight: bold;
    font-size:16px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #F79321;
}
.tag-h2{
    width:600px;
}
.price{
    color:orange;
}
.main-content{
    background-color: rgb(254,238,197);
    height:605px;
    border-radius: 5px;
}
.main-content .main-left{
    width:480px;
    margin-left: 10px;
    float:left;
}
.main-content .main-right{
    width:343px;
    float:right;
}
br{
    margin-bottom: 10px;
}
.mod{
    color:#F79321;
}
.order{
    border: solid 1px #DAC9B1;
    width:315px;
    height:296px;
    border-radius: 5px;
    margin-top:10px;
    
}
.datepicker{
    margin-top:10px;
}
.title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-2{
    width:841px;
    border:solid 1px red;
    border-radius:5px;
    background-color: rgb(229,229,229);
    height:80px;

}
.search-detail-left{
    float:left;
    width:412px;
}
.search-detail-mid{
    float:left;
}
.left-1{
    float:left;
}
.left-2{
    float:left;
    margin-left:5px;
}
.search-detail-right button{
    float:left;
    background-color: #F79321;
    border-radius: 5px;
    width:107.5px;
    height:60px;
}
.fix{
    text-decoration:none;
    color: #2574A9
}
.datepicker input{
    width:120px;
}
.search-content-items {
    justify-content: space-between;
    background-color: rgba(221, 221, 221, 0.5);
    padding: 12px;
    border-radius: 5px;
} 
.mini{
    margin-top: 10px;
    background-color: rgb(234,240,231);
    width:845px;
    height:50px;
    text-align: center;
    line-height: 60px;
    border-left: solid 1px orange;
}
.mini strong{
    color: #40a6f2 ;
}
.fix-2 tr{
    background-color: #e6e7ea;
}
.title-room{
    border: solid 1px rgba(221, 221, 221, 0.5);
}
.footer-left{
    margin-left: 10px;
}
.mid-left{
    margin-left: 10px;
}
.header-left{
    margin-left: 10px;
}
.condition-left{
    margin-bottom: 280px;
    margin-left: 10px;
}
.container-left{
    margin-bottom:200px;
}
.container-mid{
    margin-bottom: 500px;
}
.color{
   color: #40a6f2;
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
}
.container-right{
    margin-bottom: 460px;
    margin-left: 10px;
}
.container-right button{ 
    background-color: #F79321;
    width:100px;
    height:40px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}
.ep{
    border: solid 1px red;
}
   

.rate{
    border-top: solid 5px red;
    margin-bottom: 500px;
}
.second-left{
    border-top: solid 5px red; 
    margin-bottom:687px;
}
.second-price{
    border-top: solid 5px red; 
    margin-bottom:630px;
}
.second-order{
    
    margin-bottom: 630px;
    border-top: solid 5px red;
}
.second-order button{
    background-color: #F79321;
    width:100px;
    height:40px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    margin-left: 10px;
}
.second-order p{
    margin-left: 10px;
}