*{
    margin: 0;
    padding:0;
}
.header{
    display: grid;
    grid-template-columns: 969px 1fr 150px 1fr 1fr;
    border: solid 1px gray;
}
.container a{
    text-decoration: none;
    margin-right: 10px;
    line-height: 45px;
}
.container a:hover{
    color:#F79321;
}
.img-header{
    margin-top: 5px;
}
.menu{
    display: grid;
    grid-template-columns: 325px 1fr 266px 1fr 1fr 1fr 1fr 170px 331px;
}
.button button{
    background-color: rgb(173,158,135);
    width:165px;
    height:40px;
    margin-left: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color:white;
    border:none
}
.under-header{
    margin-top: 10px;
    border-bottom: solid 1px gray;
}
.under-header span{
    line-height: 50px;
    font-family: sans-serif;
    
}
.under-header span:hover{
    color:#F79321;
}

.homepage{
    margin-top: 20px;
}
.little{
    margin-left: 50px;
    float:left
}
.infor-lotte{
    float: left;
    color: #666;
    margin-left: 10px;
    font-family: sans-serif;
    margin-top:14px;
}
.title{
    margin-top: 100px;
    margin-left: 470px;
    font-family: sans-serif;
}
.detail-introduce{
    margin-left: 50px;
    font-size: 18px;
    line-height: 22px;
    color: #666;
}
.introduce{
    margin-top: 50px;
}
.mod{
    text-align: center;
}
.mod2{
    margin-top: 16px;
    margin-left: 16px;
}
.product-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    grid-row-gap: 50px;
}
.fix{
    width:705px;
    height:396px;
}
.product h2{
    font-weight: 500;
    font-family: sans-serif;
}
.gap{
    margin-top: 20px;
    font-size: 20px;
}
.modify li{
    margin-top: 10px;
    font-size: 15px;
    color:#666;
    margin-left: 16px;
}
.near-footer{
    display: grid;
    background-color: rgb(85,85,85);
    grid-template-columns: 160px 200px 170px 160px 200px 231px 126px 96px 47px 26px 26px 26px 26px;
    margin-top:100px;
}
.signiel{
    margin-left:50px;
}
.last-footer{
    background-color: black;
    display: grid;
    grid-template-columns: 960px 1fr 1fr 1fr;
}
.img-footer{
    margin-left: 50px;
    color:rgb(85,85,85);
    font-weight: bold;
}
.menu-footer {
    color:rgb(85,85,85);
    font-weight: bold;
    line-height: 30px;
    border-right: solid 1px #666;
    margin-left: 10px;
}
.text-footer{
    margin-top: 100px;

}
.fix2{
    margin-left:10px;
}
.fix-icon{
    margin-right:10px;
    color:#666
}
.button button:hover{
    background-color: #F79321;
}
.under-header .search-icon:hover{
    color:#F79321;
}